@charset "EUC-KR";
@media screen and (max-width: 1500px) {
    #left_asid {
        display: none;
    }
}

  
  #left_asid {
    width: 8%;
    padding: 1%;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.container {
    display: flex;	
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}
.content-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
